<div class="app-shell">

  <aside class="sidebar">

    <div class="brand">
      <div class="brand-icon">H</div>

      <div class="brand-text">
        <strong>Hospital</strong>
        <span>Intelligence</span>
      </div>
    </div>

    <nav class="menu">

      <a
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <span>⌂</span>
        Dashboard
      </a>

      <a
        routerLink="/patients"
        routerLinkActive="active"
      >
        <span>♙</span>
        Pacientes
      </a>

      <a
        routerLink="/admissions"
        routerLinkActive="active"
      >
        <span>▣</span>
        Internações
      </a>

      <a
        routerLink="/exams"
        routerLinkActive="active"
      >
        <span>▤</span>
        Exames
      </a>

      <a
        routerLink="/prescriptions"
        routerLinkActive="active"
      >
        <span>▧</span>
        Prescrições
      </a>

      <a
        routerLink="/vital-signs"
        routerLinkActive="active"
      >
        <span>♡</span>
        Sinais Vitais
      </a>

      <a
        routerLink="/clinical-notes"
        routerLinkActive="active"
      >
        <span>□</span>
        Notas Clínicas
      </a>

      <a
        routerLink="/alerts"
        routerLinkActive="active"
      >
        <span>♧</span>
        Alertas
      </a>

      <a
        routerLink="/reports"
        routerLinkActive="active"
      >
        <span>▥</span>
        Relatórios
      </a>

    </nav>

    <div class="user">

      <div class="avatar">
        A
      </div>

      <div>
        <strong>Administrador</strong>
        <span>Hospital Intelligence</span>
      </div>

    </div>

  </aside>

  <div class="main">

    <header class="topbar">

      <button
        type="button"
        class="menu-button"
      >
        ☰
      </button>

      <div class="global-search">

        <input
          type="text"
          placeholder="Buscar paciente, exame, internação..."
        />

      </div>

      <div class="topbar-actions">

        <button type="button">
          🔔
        </button>

        <button type="button">
          ✉
        </button>

        <div class="profile">
          A
        </div>

      </div>

    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>